/****************************
 GENERAL
****************************/

.grimps-header {
    height: 64px;
}

.grimps-content {
    padding: 10px 20px 10px 20px;
    font-size: 16px !important;
}

.email {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#notif {
    cursor: pointer;
}
/****************************
 END OF GENERAL
****************************/

/****************************
 COLORS
****************************/

.grimps-blue {
    background-color: #04192F;
}

.grimps-gold {
    background-color: #D79828;
}

.grimps-violet {
    background-color: #8493C7;
}

.grimps-plain {
    background-color: #FEF6E2;
}

.grimps-selected {
    background-color: #2B3B4E;
}

.grimps-plain-selected {
    background-color: #FFF9EE;
}

.grimps-white {
    background-color: #FFF;
}

/****************************
 END OF COLORS
****************************/

/****************************
 TEXT/FONTS
****************************/
.grimps-text-alcu {
    font-family: "Alcubierre";
}

.grimps-text-black {
    color: #423E3E;
}

.grimps-text-lato {
    font-family: "Lato";
}

.grimps-text-title {
    vertical-align: middle;
    font-size: 32px !important;
}

.grimps-text-plain {
    color: #FEF6E2 !important;
}

.grimps-text-big {
    font-size: 24px;
}

/****************************
 END OF TEXT-FONTS
****************************/

/***************************
 DASHBOARD
****************************/
.mdl-navigation__link {
    font-size: 24px;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

/***************************
 END OF DASHBOARD
****************************/

/***************************
 VERIFICATION
****************************/
.verification-header {
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content: space-between;
}

.log-header {
    display: flex;
    align-items: center;
    padding: 0 25px;
    font-size: 10px;
    justify-content: space-between;
}

.verification-img {
    width: 40px;
    height: 40px;
}

.verification-log-img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.verification-submit {
    padding-right: 20px;
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
}

.verification-selected {
    background-color: #FFF9EE;
}

.mdl-cell {
    height: calc(100vh - 64px) !important;
}

/***************************
 END OF VERIFICATION
****************************/

/***************************
 EXAM SCHEDULE
****************************/
.exam-description-card-mhs {
    width: 50%;
    min-height: 525px;
    background-color: pink;
    margin: 30px auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.exam-description-card-dsn {
    width: 93%;
    min-height: 825px;
    background-color: white;
    margin: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.exam-desc-cell-8 {
    min-height: 525px;
}

.exam-date {
    height: 70px;
    background-color: #8393ca;
    padding: 15px;
}

.exam-date h2 {
    color: #fef6e0;
    margin: 0px;
    letter-spacing: 2px;
}

.exam-description {
    padding: 15px 0px 15px 50px;
}

.exam-desc-cell-4 {
    min-height: inherit;
    background-color: #03192f;
}

.exam-date-title {
    height: 50px;
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 35px;
}

.date-list .mdl-navigation__link {
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.demo-layout .date-list{
    display: inline-block;
    width: 93%;
    margin: 15px 0;
}
.date-list a{
    cursor: pointer;
    color: whitesmoke;
}
.date-list .selected {
    background-color: lightgrey;
    color: black;
}

.hidden {
    display: none;
}
/***************************
 END OF EXAM SCHEDULE
****************************/
